.CardsTeaser {
    padding-top: 8vh;
    padding-bottom: 8vh;
    @media(min-width: 480px) {
        padding-top: 15vh;
        padding-bottom: 15vh;
    }
    .theContent {
        margin-bottom: 40px;
    }
   .box {
        margin: auto 0;
        min-height: 250px;
        border-radius: 5px;
        transition: 0.3s ease-in-out all;
        max-width: 100%;
        margin-top: 40px;
        @media(min-width: 480px) {
            margin-left: 20px;
            margin-right: 20px;
            max-width: calc(50% - 40px);
            flex: 0 0 100%;
        }
        @media(min-width: 1024px) {
            margin-top: initial;
            margin-left: initial;
            margin-right: 60px;
            max-width: calc(25% - 60px); 
        }
        @media(min-width: 1600px) {
            margin-top: initial;
            margin-right: 80px;
            max-width: calc(25% - 80px); 
        }
        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
        img {
            width: 72px;
            max-width: initial;
            filter: invert(1);
        }
        h3 {
            font-size: 1.25em!important;
        }
    } 
}