.text-center {
	text-align: center!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body {
	font-family: 'Montserrat', sans-serif;
}
.cta {
	text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    height: auto;
    display: inline-block;
    line-height: 65px;
    font-size: 16px;
    padding: 0px 45px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    @media(min-width: 768px) {
        font-size: 18px;
    }
    @media(min-width: 1024px) {
        padding: 0 60px;
        font-size: 20px;
    }
}
.colored {
	color: white;
	background-color: #1fb2de;
    &:hover, &:active, &:focus {
       	color: white;
	    text-decoration: none;
	    background-color: #167794; 
    }
}
.outlined {
    color: #167794;
	background-color: white;
    &:hover, &:active, &:focus {
       	color: #167794;
	    text-decoration: none;
	    background-color: #d1d1d1; 
    }
}
body .FeatureSlider {
	padding-top: 40px;
	padding-bottom: 40px;
    .swiper-container {
       	width: 100%;
        height: 100%;
	    margin-left: 0;
	    margin-right: 0; 
    }
    .swiper-slide {
        flex-direction: column;
	    text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .swiper-pagination {
        position: static;
    }
    .row {
        margin-left: 0;
	    margin-right: 0;
        .col-12 {
            padding-left: 0;
	        padding-right: 0;
        }
    }
}
.ProcessTeaser {
    padding-top: 6vh;
    padding-bottom: 6vh;
    .copy {
       padding-bottom: 45px;
    }
    .step {
        display: flex!important;
        flex-direction: column;
        vertical-align: middle;
        h3 {
            font-size: 1.25em;
            margin-bottom: 0;
        }
        .icon {
            width: 100px;
            height: auto;
        }
    }
}