.ServiceTeaser {
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 0;
    .tabs {
        padding: 2% 4%;
        border-radius: 50px;
        .col-12 {
            background-color: rgba(53, 165, 199, 0.8);
                p {
                    font-size: 1.5em!important;
                    padding: 0 25%;
                }
        }
        img {
            width: 32px;
            height: 32px;
            vertical-align: middle;
            display: inline-block;
            margin-right: 5px;
            margin-top: -5px;
        }
        .horizontal {
            width: fit-content;
            width: -moz-fit-content;
            display: inline-flex;
            flex-direction: row;
            padding-left: 0!important;
            padding-right: 0!important;
            background: transparent;
            .active {
                background-color: #1fb2de;
                a {
                    color: white!important;
                    &:hover {
                        color: white!important;
                    }
                }
            }
            li {
                padding: 10px!important;
                background: white;
                transition: 0.3s ease-in-out;
                border-top: 4px solid #145466;
                border-right: 4px solid #145466;
                border-bottom: 4px solid #145466;
                &:last-of-type {
                    border-right: 4px solid #145466;
                }
                &:first-of-type {
                    border-left: 4px solid #145466;
                }
                &:hover {
                    background-color: #1fb2de;
                    color: white!important;
                    cursor: pointer;
                }
                a {
                    color:  black!important;
                    font-size: 1.6em;
                    text-decoration: none;
                    transition: 0.3s ease-in-out;
                    &:active, &:active {
                        text-decoration: none;
                    }
                    &:hover {
                        text-decoration: none;
                        color: white!important;
                    }
                }
            }
        }
        
    }
}