body .Struckboard {
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 0;
	position: relative;
	padding-top: 18vh;
    padding-bottom: 16vh;
    &:after {
       	position: absolute;
	    content: "";
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    height: 100%;
	    width: 100%;
	    z-index: -1; 
    }
    p {
        font-size: 1.25rem!important;
	    margin-top: 1em!important;
	    margin-bottom: 2em!important;
	    @media(min-width: 768px) {
	        font-size: 1.35em!important;
	    }
	    @media(min-width: 1024px) {
	       font-size: 1.5em!important;
	    }
	    @media (min-width: 1600px) {
	       font-size: 2em!important; 
	    }
    }
}